*.Rproj
.Rproj.user
*.Rhistory
*.DS_Store

# SCE object used for plotting 
data/sce_hdf5
plot_feature_utility_script.R
exPlot_utility_script.R
plot_dot_utility_script.R
plot_scatter_utility_script.R
InferCNV_Heatmap.Rmd
docs
